body {
    font-family: Arial, Helvetica;  
    background: #873792 ; 
    max-width: 900px;
}
.menu{
    list-style: none;
    padding: 0;
    background: #0E0C0F;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    
}
.menu li{
    display: inline-block;
    text-align: center;
}
body {
    list-style: none;
    padding: 0;
    background:#5e438d;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}